### Objetivo: Consumir API

Acessando a url https://dadosabertos.bcb.gov.br/dataset/estatisticas-meios-pagamentos vocês terão acesso aos dados fornecidos pelo banco central sobre meios de pagamentos.
Vocês podem consultar a API para obter a url para requisição dos dados.


Determine a url fornecida:

In [1]:
url = "https://olinda.bcb.gov.br/olinda/servico/Pix_DadosAbertos/versao/v1/odata/TransacoesPixPorMunicipio(DataBase=@DataBase)?@DataBase='202301'&$top=100&$format=json&$select=AnoMes,Municipio_Ibge,Municipio,Estado_Ibge,Estado,Sigla_Regiao,Regiao,VL_PagadorPF,QT_PagadorPF,VL_PagadorPJ,QT_PagadorPJ,VL_RecebedorPF,QT_RecebedorPF,VL_RecebedorPJ,QT_RecebedorPJ,QT_PES_PagadorPF,QT_PES_PagadorPJ,QT_PES_RecebedorPF,QT_PES_RecebedorPJ"

Importar bibliotecas

In [2]:
import pandas as pd  #possibilita manipulação e análise de dados
import requests  #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs
import json  #manipular arquivo json

Criar uma função para obter os dados:

In [3]:

def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('resultado.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

Chamar função passando o link gerado pela interface da API

In [4]:
requisicao_api(url)

Status Code: 200

Convertendo em DataFrame

In [5]:
jsondata = pd.read_json('resultado.json')

In [6]:
jsondata

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202307, 'Municipio_Ibge': 2106375, ..."
1,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202401, 'Municipio_Ibge': 5201207, ..."
2,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202401, 'Municipio_Ibge': 2600401, ..."
3,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202412, 'Municipio_Ibge': 5218706, ..."
4,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202309, 'Municipio_Ibge': 3508207, ..."
...,...,...
95,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202303, 'Municipio_Ibge': 2516805, ..."
96,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202509, 'Municipio_Ibge': 2110005, ..."
97,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202502, 'Municipio_Ibge': 3119609, ..."
98,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202308, 'Municipio_Ibge': 4204608, ..."
99,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202502, 'Municipio_Ibge': 3122504, ..."

In [7]:
data = jsondata['value']

In [8]:
dados_df = pd.json_normalize(data)

Exibindo os primeiros valores do Dataframe

In [9]:
dados_df.head()

,AnoMes,Municipio_Ibge,Municipio,Estado_Ibge,Estado,Sigla_Regiao,Regiao,VL_PagadorPF,QT_PagadorPF,VL_PagadorPJ,QT_PagadorPJ,VL_RecebedorPF,QT_RecebedorPF,VL_RecebedorPJ,QT_RecebedorPJ,QT_PES_PagadorPF,QT_PES_PagadorPJ,QT_PES_RecebedorPF,QT_PES_RecebedorPJ
0,202307,2106375,MARANHÃOZINHO,21,MARANHÃO,NE,NORDESTE,13910330.90,108845,2893974.75,2535,12845425.00,74902,2089266.01,8926,3889,85,3868,74
1,202401,5201207,ANHANGUERA,52,GOIÁS,CO,CENTRO-OESTE,1865615.91,12397,238473.25,340,1833353.64,7774,271422.97,923,528,21,498,23
2,202401,2600401,ÁGUA PRETA,26,PERNAMBUCO,NE,NORDESTE,43876460.77,369176,3087915.74,4496,41686680.16,241468,2930426.82,16311,12668,189,12848,167
3,202412,5218706,RIANÁPOLIS,52,GOIÁS,CO,CENTRO-OESTE,26110159.84,95617,7850163.37,6180,24205047.70,65034,8972572.75,16062,2687,177,2685,169
4,202309,3508207,BURITIZAL,35,SÃO PAULO,SE,SUDESTE,9308600.54,39252,9335570.98,4706,11641800.13,24401,16969313.88,9531,2176,247,2101,216

In [10]:
dados_df.isnull().sum()

AnoMes                0
Municipio_Ibge        0
Municipio             0
Estado_Ibge           0
Estado                0
Sigla_Regiao          0
Regiao                0
VL_PagadorPF          0
QT_PagadorPF          0
VL_PagadorPJ          0
QT_PagadorPJ          0
VL_RecebedorPF        0
QT_RecebedorPF        0
VL_RecebedorPJ        0
QT_RecebedorPJ        0
QT_PES_PagadorPF      0
QT_PES_PagadorPJ      0
QT_PES_RecebedorPF    0
QT_PES_RecebedorPJ    0
dtype: int64

In [13]:
dados_df.dtypes

AnoMes                  int64
Municipio_Ibge          int64
Municipio              object
Estado_Ibge             int64
Estado                 object
Sigla_Regiao           object
Regiao                 object
VL_PagadorPF          float64
QT_PagadorPF            int64
VL_PagadorPJ          float64
QT_PagadorPJ            int64
VL_RecebedorPF        float64
QT_RecebedorPF          int64
VL_RecebedorPJ        float64
QT_RecebedorPJ          int64
QT_PES_PagadorPF        int64
QT_PES_PagadorPJ        int64
QT_PES_RecebedorPF      int64
QT_PES_RecebedorPJ      int64
dtype: object

In [12]:
dados_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AnoMes              100 non-null    int64
 1   Municipio_Ibge      100 non-null    int64
 2   Municipio           100 non-null    object
 3   Estado_Ibge         100 non-null    int64
 4   Estado              100 non-null    object
 5   Sigla_Regiao        100 non-null    object
 6   Regiao              100 non-null    object
 7   VL_PagadorPF        100 non-null    float64
 8   QT_PagadorPF        100 non-null    int64
 9   VL_PagadorPJ        100 non-null    float64
 10  QT_PagadorPJ        100 non-null    int64
 11  VL_RecebedorPF      100 non-null    float64
 12  QT_RecebedorPF      100 non-null    int64
 13  VL_RecebedorPJ      100 non-null    float64
 14  QT_RecebedorPJ      100 non-null    int64
 15  QT_PES_PagadorPF    100 non-null    int64
 16  QT_PES_PagadorPJ    100 non-null    int64
 17  QT_PES_RecebedorPF  100 non-null    int64
 18  QT_PES_RecebedorPJ  100 non-null    int64
dtypes: float64(4), int64(11), object(4)
memory usage: 15.0+ KB