### Objetivo: Consumir API

Acessando a url https://dadosabertos.bcb.gov.br/dataset/estatisticas-meios-pagamentos vocês terão acesso aos dados fornecidos pelo banco central sobre meios de pagamentos.
Vocês podem consultar a API para obter a url para requisição dos dados.


Determine a url fornecida:

In [5]:
url = "https://olinda.bcb.gov.br/olinda/servico/Pix_DadosAbertos/versao/v1/odata/TransacoesPixPorMunicipio(DataBase=@DataBase)?@DataBase='202301'&$top=100&$format=json&$select=AnoMes,Municipio_Ibge,Municipio,Estado_Ibge,Estado,Sigla_Regiao,Regiao,VL_PagadorPF,QT_PagadorPF,VL_PagadorPJ,QT_PagadorPJ,VL_RecebedorPF,QT_RecebedorPF,VL_RecebedorPJ,QT_RecebedorPJ,QT_PES_PagadorPF,QT_PES_PagadorPJ,QT_PES_RecebedorPF,QT_PES_RecebedorPJ"

Importar bibliotecas

In [6]:
import pandas as pd  #possibilita manipulação e análise de dados
import requests  #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs
import json  #manipular arquivo json

Criar uma função para obter os dados:

In [7]:

def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('resultado.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

Chamar função passando o link gerado pela interface da API

In [8]:
requisicao_api(url)

Status Code: 200

Convertendo em DataFrame

In [9]:
jsondata = pd.read_json('resultado.json')

In [10]:
jsondata

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202311, 'Municipio_Ibge': 2106375, ..."
1,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202406, 'Municipio_Ibge': 5201207, ..."
2,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202410, 'Municipio_Ibge': 2600401, ..."
3,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202504, 'Municipio_Ibge': 5218706, ..."
4,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202307, 'Municipio_Ibge': 3508207, ..."
...,...,...
95,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202502, 'Municipio_Ibge': 2516805, ..."
96,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202401, 'Municipio_Ibge': 2110005, ..."
97,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202306, 'Municipio_Ibge': 3119609, ..."
98,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202301, 'Municipio_Ibge': 4204608, ..."
99,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202310, 'Municipio_Ibge': 3122504, ..."

In [11]:
data = jsondata['value']

In [12]:
dados_df = pd.json_normalize(data)

Exibindo os primeiros valores do Dataframe

In [13]:
dados_df.head()

,AnoMes,Municipio_Ibge,Municipio,Estado_Ibge,Estado,Sigla_Regiao,Regiao,VL_PagadorPF,QT_PagadorPF,VL_PagadorPJ,QT_PagadorPJ,VL_RecebedorPF,QT_RecebedorPF,VL_RecebedorPJ,QT_RecebedorPJ,QT_PES_PagadorPF,QT_PES_PagadorPJ,QT_PES_RecebedorPF,QT_PES_RecebedorPJ
0,202311,2106375,MARANHÃOZINHO,21,MARANHÃO,NE,NORDESTE,16511637.37,136416,2853548.08,3905,14969477.44,87861,2205700.68,14833,4277,84,4196,73
1,202406,5201207,ANHANGUERA,52,GOIÁS,CO,CENTRO-OESTE,2385123.83,17204,379883.03,615,2388449.96,10675,299006.72,1413,540,25,542,23
2,202410,2600401,ÁGUA PRETA,26,PERNAMBUCO,NE,NORDESTE,59157296.28,495151,5714742.83,6803,56139814.59,325082,5200288.85,29341,14249,255,14321,206
3,202504,5218706,RIANÁPOLIS,52,GOIÁS,CO,CENTRO-OESTE,27153337.14,95632,6139385.86,6163,23890260.94,64126,8194010.13,16386,2717,183,2699,172
4,202307,3508207,BURITIZAL,35,SÃO PAULO,SE,SUDESTE,9181597.93,36660,7610012.84,4693,9195724.60,22782,14896990.05,8475,2135,241,2033,228

In [24]:
dados_df.isnull().sum()

AnoMes                0
Municipio_Ibge        0
Municipio             0
Estado_Ibge           0
Estado                0
Sigla_Regiao          0
Regiao                0
VL_PagadorPF          0
QT_PagadorPF          0
VL_PagadorPJ          0
QT_PagadorPJ          0
VL_RecebedorPF        0
QT_RecebedorPF        0
VL_RecebedorPJ        0
QT_RecebedorPJ        0
QT_PES_PagadorPF      0
QT_PES_PagadorPJ      0
QT_PES_RecebedorPF    0
QT_PES_RecebedorPJ    0
dtype: int64

In [25]:
dados_df.dtypes

AnoMes                  int64
Municipio_Ibge          int64
Municipio              object
Estado_Ibge             int64
Estado                 object
Sigla_Regiao           object
Regiao                 object
VL_PagadorPF          float64
QT_PagadorPF            int64
VL_PagadorPJ          float64
QT_PagadorPJ            int64
VL_RecebedorPF        float64
QT_RecebedorPF          int64
VL_RecebedorPJ        float64
QT_RecebedorPJ          int64
QT_PES_PagadorPF        int64
QT_PES_PagadorPJ        int64
QT_PES_RecebedorPF      int64
QT_PES_RecebedorPJ      int64
dtype: object

In [26]:
dados_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AnoMes              100 non-null    int64
 1   Municipio_Ibge      100 non-null    int64
 2   Municipio           100 non-null    object
 3   Estado_Ibge         100 non-null    int64
 4   Estado              100 non-null    object
 5   Sigla_Regiao        100 non-null    object
 6   Regiao              100 non-null    object
 7   VL_PagadorPF        100 non-null    float64
 8   QT_PagadorPF        100 non-null    int64
 9   VL_PagadorPJ        100 non-null    float64
 10  QT_PagadorPJ        100 non-null    int64
 11  VL_RecebedorPF      100 non-null    float64
 12  QT_RecebedorPF      100 non-null    int64
 13  VL_RecebedorPJ      100 non-null    float64
 14  QT_RecebedorPJ      100 non-null    int64
 15  QT_PES_PagadorPF    100 non-null    int64
 16  QT_PES_PagadorPJ    100 non-null    int64
 17  QT_PES_RecebedorPF  100 non-null    int64
 18  QT_PES_RecebedorPJ  100 non-null    int64
dtypes: float64(4), int64(11), object(4)
memory usage: 15.0+ KB

In [1]:
from pymongo import MongoClient

In [20]:
MONGO_URI = "mongodb+srv://userPix:senha123@cluster0.jcqjmjl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

client = MongoClient(MONGO_URI)

In [23]:
db = client["Pix"]

colecao = db["Pix_por_Municipio"]

In [24]:
colecao.insert_many(dados_df.to_dict("records"))

InsertManyResult([ObjectId('68d5dd487609f1f08cb68946'), ObjectId('68d5dd487609f1f08cb68947'), ObjectId('68d5dd487609f1f08cb68948'), ObjectId('68d5dd487609f1f08cb68949'), ObjectId('68d5dd487609f1f08cb6894a'), ObjectId('68d5dd487609f1f08cb6894b'), ObjectId('68d5dd487609f1f08cb6894c'), ObjectId('68d5dd487609f1f08cb6894d'), ObjectId('68d5dd487609f1f08cb6894e'), ObjectId('68d5dd487609f1f08cb6894f'), ObjectId('68d5dd487609f1f08cb68950'), ObjectId('68d5dd487609f1f08cb68951'), ObjectId('68d5dd487609f1f08cb68952'), ObjectId('68d5dd487609f1f08cb68953'), ObjectId('68d5dd487609f1f08cb68954'), ObjectId('68d5dd487609f1f08cb68955'), ObjectId('68d5dd487609f1f08cb68956'), ObjectId('68d5dd487609f1f08cb68957'), ObjectId('68d5dd487609f1f08cb68958'), ObjectId('68d5dd487609f1f08cb68959'), ObjectId('68d5dd487609f1f08cb6895a'), ObjectId('68d5dd487609f1f08cb6895b'), ObjectId('68d5dd487609f1f08cb6895c'), ObjectId('68d5dd487609f1f08cb6895d'), ObjectId('68d5dd487609f1f08cb6895e'), ObjectId('68d5dd487609f1f08cb6895f'), ObjectId('68d5dd487609f1f08cb68960'), ObjectId('68d5dd487609f1f08cb68961'), ObjectId('68d5dd487609f1f08cb68962'), ObjectId('68d5dd487609f1f08cb68963'), ObjectId('68d5dd487609f1f08cb68964'), ObjectId('68d5dd487609f1f08cb68965'), ObjectId('68d5dd487609f1f08cb68966'), ObjectId('68d5dd487609f1f08cb68967'), ObjectId('68d5dd487609f1f08cb68968'), ObjectId('68d5dd487609f1f08cb68969'), ObjectId('68d5dd487609f1f08cb6896a'), ObjectId('68d5dd487609f1f08cb6896b'), ObjectId('68d5dd487609f1f08cb6896c'), ObjectId('68d5dd487609f1f08cb6896d'), ObjectId('68d5dd487609f1f08cb6896e'), ObjectId('68d5dd487609f1f08cb6896f'), ObjectId('68d5dd487609f1f08cb68970'), ObjectId('68d5dd487609f1f08cb68971'), ObjectId('68d5dd487609f1f08cb68972'), ObjectId('68d5dd487609f1f08cb68973'), ObjectId('68d5dd487609f1f08cb68974'), ObjectId('68d5dd487609f1f08cb68975'), ObjectId('68d5dd487609f1f08cb68976'), ObjectId('68d5dd487609f1f08cb68977'), ObjectId('68d5dd487609f1f08cb68978'), ObjectId('68d5dd487609f1f08cb68979'), ObjectId('68d5dd487609f1f08cb6897a'), ObjectId('68d5dd487609f1f08cb6897b'), ObjectId('68d5dd487609f1f08cb6897c'), ObjectId('68d5dd487609f1f08cb6897d'), ObjectId('68d5dd487609f1f08cb6897e'), ObjectId('68d5dd487609f1f08cb6897f'), ObjectId('68d5dd487609f1f08cb68980'), ObjectId('68d5dd487609f1f08cb68981'), ObjectId('68d5dd487609f1f08cb68982'), ObjectId('68d5dd487609f1f08cb68983'), ObjectId('68d5dd487609f1f08cb68984'), ObjectId('68d5dd487609f1f08cb68985'), ObjectId('68d5dd487609f1f08cb68986'), ObjectId('68d5dd487609f1f08cb68987'), ObjectId('68d5dd487609f1f08cb68988'), ObjectId('68d5dd487609f1f08cb68989'), ObjectId('68d5dd487609f1f08cb6898a'), ObjectId('68d5dd487609f1f08cb6898b'), ObjectId('68d5dd487609f1f08cb6898c'), ObjectId('68d5dd487609f1f08cb6898d'), ObjectId('68d5dd487609f1f08cb6898e'), ObjectId('68d5dd487609f1f08cb6898f'), ObjectId('68d5dd487609f1f08cb68990'), ObjectId('68d5dd487609f1f08cb68991'), ObjectId('68d5dd487609f1f08cb68992'), ObjectId('68d5dd487609f1f08cb68993'), ObjectId('68d5dd487609f1f08cb68994'), ObjectId('68d5dd487609f1f08cb68995'), ObjectId('68d5dd487609f1f08cb68996'), ObjectId('68d5dd487609f1f08cb68997'), ObjectId('68d5dd487609f1f08cb68998'), ObjectId('68d5dd487609f1f08cb68999'), ObjectId('68d5dd487609f1f08cb6899a'), ObjectId('68d5dd487609f1f08cb6899b'), ObjectId('68d5dd487609f1f08cb6899c'), ObjectId('68d5dd487609f1f08cb6899d'), ObjectId('68d5dd487609f1f08cb6899e'), ObjectId('68d5dd487609f1f08cb6899f'), ObjectId('68d5dd487609f1f08cb689a0'), ObjectId('68d5dd487609f1f08cb689a1'), ObjectId('68d5dd487609f1f08cb689a2'), ObjectId('68d5dd487609f1f08cb689a3'), ObjectId('68d5dd487609f1f08cb689a4'), ObjectId('68d5dd487609f1f08cb689a5'), ObjectId('68d5dd487609f1f08cb689a6'), ObjectId('68d5dd487609f1f08cb689a7'), ObjectId('68d5dd487609f1f08cb689a8'), ObjectId('68d5dd487609f1f08cb689a9')], acknowledged=True)