### Objetivo: Consumir API

Acessando a url https://dadosabertos.bcb.gov.br/dataset/estatisticas-meios-pagamentos vocês terão acesso aos dados fornecidos pelo banco central sobre meios de pagamentos.
Vocês podem consultar a API para obter a url para requisição dos dados.


Determine a url fornecida:

In [1]:
url = "https://olinda.bcb.gov.br/olinda/servico/Pix_DadosAbertos/versao/v1/odata/TransacoesPixPorMunicipio(DataBase=@DataBase)?@DataBase='202301'&$top=100&$format=json&$select=AnoMes,Municipio_Ibge,Municipio,Estado_Ibge,Estado,Sigla_Regiao,Regiao,VL_PagadorPF,QT_PagadorPF,VL_PagadorPJ,QT_PagadorPJ,VL_RecebedorPF,QT_RecebedorPF,VL_RecebedorPJ,QT_RecebedorPJ,QT_PES_PagadorPF,QT_PES_PagadorPJ,QT_PES_RecebedorPF,QT_PES_RecebedorPJ"

Importar bibliotecas

In [2]:
import pandas as pd  #possibilita manipulação e análise de dados
import requests  #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs
import json  #manipular arquivo json

Criar uma função para obter os dados:

In [3]:

def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('resultado.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

Chamar função passando o link gerado pela interface da API

In [4]:
requisicao_api(url)

Status Code: 200

Convertendo em DataFrame

In [5]:
jsondata = pd.read_json('resultado.json')

In [6]:
jsondata

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202309, 'Municipio_Ibge': 2106375, ..."
1,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202301, 'Municipio_Ibge': 5201207, ..."
2,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202403, 'Municipio_Ibge': 2600401, ..."
3,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202505, 'Municipio_Ibge': 5218706, ..."
4,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202508, 'Municipio_Ibge': 3508207, ..."
...,...,...
95,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202412, 'Municipio_Ibge': 2516805, ..."
96,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202402, 'Municipio_Ibge': 2110005, ..."
97,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202404, 'Municipio_Ibge': 3119609, ..."
98,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202406, 'Municipio_Ibge': 4204608, ..."
99,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'AnoMes': 202305, 'Municipio_Ibge': 3122504, ..."

In [7]:
data = jsondata['value']



```
data = [
    {"id": 1, "nome": "Maria", "endereco": {"cidade": "SP", "rua": "Paulista"}},
    {"id": 2, "nome": "João", "endereco": {"cidade": "RJ", "rua": "Copacabana"}}
]

dados_df = pd.json_normalize(data)
```

id    |    nome     |   endereco.cidade     |     endereco.rua

1 | Maria    |          SP   |  Paulista

2  | João       |       RJ  | Copacabana

In [8]:
dados_df = pd.json_normalize(data)

Exibindo os primeiros valores do Dataframe

In [9]:
dados_df.head()

,AnoMes,Municipio_Ibge,Municipio,Estado_Ibge,Estado,Sigla_Regiao,Regiao,VL_PagadorPF,QT_PagadorPF,VL_PagadorPJ,QT_PagadorPJ,VL_RecebedorPF,QT_RecebedorPF,VL_RecebedorPJ,QT_RecebedorPJ,QT_PES_PagadorPF,QT_PES_PagadorPJ,QT_PES_RecebedorPF,QT_PES_RecebedorPJ
0,202309,2106375,MARANHÃOZINHO,21,MARANHÃO,NE,NORDESTE,14629089.96,118012,2594844.90,3523,13878844.64,76758,1873092.67,11226,4065,93,3987,81
1,202301,5201207,ANHANGUERA,52,GOIÁS,CO,CENTRO-OESTE,1729842.79,6896,143895.15,230,1502395.22,5470,183866.78,426,451,19,423,19
2,202403,2600401,ÁGUA PRETA,26,PERNAMBUCO,NE,NORDESTE,48179196.53,420710,2947855.85,5203,46550194.33,277298,4060368.77,19013,12971,190,13195,171
3,202505,5218706,RIANÁPOLIS,52,GOIÁS,CO,CENTRO-OESTE,26642023.68,103195,6572385.12,6349,27395887.69,68435,8970241.36,18617,2730,192,2738,186
4,202508,3508207,BURITIZAL,35,SÃO PAULO,SE,SUDESTE,19822088.83,70344,13287940.05,8193,28889580.60,35961,14844459.88,19439,2587,276,2482,256

In [10]:
dados_df.to_csv("dados/pix_municipio.csv", index=False, encoding="utf-8")